<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">
	<Script file="Global.lua"/>
	<Script file="Spells.lua"/>
	<Script file="Theme.lua"/>
	<Script file="UserRules.lua"/>
	<!--@debug@--> 
	<Script file="Debug.lua"/>
	<!--@end-debug@-->
	<Script file="Config.lua"/>
</Ui>
